node_modules
.vscode
yarn-error.log
package-lock.json
yarn.lock
.gitignore
.prettierignore
.DS_Store
android
ios
*.svg
*.png
.github
.env
assets
*.plist
*.sh
.eslintignore
.gitattributes
*.p8
*.key
*.p12
*.mobileprovision
*.snap
*.tsx.snap
